*{
    font-family:"monospace";
    font-size: 24px;
    box-sizing: border-box;
}

body{
    height: 110vh;
}

.yearmonth{
    width: 125px;
    height: 60px;
    display: flex;
    justify-content: center; 
    align-items: center;
    transition: background-color 0.3s;
}

.boxsize{
    width: 200px;
    height: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.4s;
}

.boxsize_week{
    width: 200px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s;
}

.boxsize_week:hover,
.boxsize:hover,
.yearmonth:hover {
    background-color: lightblue;
}

.next_prev{
    width: 145px;
    height: 50px;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: gray;      
}

.next_prev>a{
    text-decoration: none;
    color: lightblue;
    transition: color 0.3s;
}

.next_prev>a:hover{
    color: yellow;
}

.boxsize:active,
.yearmonth:active {
    background-color: royalblue;
}

.container{
    width:90%;
    height: 73vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.calander{
    border: 1px solid black;
    width: 1610px;
    height: 85px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: -1px;
}
.color{
    background-color: lightyellow;
}

.text_gray{
    color: lightgray;
}

.tools{
    margin-left:230px;
}