*{
    box-sizing: border-box;
    overflow: hidden;
    font-family: "標楷體";
}

.container {
    /* background-color: lightgray; */
    height: 654px;
    width: 100%;
    margin: auto;
}
.teacher_img{
    height: 300px;
    width: 350px;
    background-repeat: no-repeat;
    margin-top: 25px;
    margin: auto;
}

.rbottom_texts{
    color: #0000FF;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    width:70%;
    margin: auto;
}